.navbar-container{

}

.navlinks {
    text-decoration: none;
}

.home-title{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.home-li{
    text-decoration: none;
}

.navbar-ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.sessionLinks{
    display: flex;
}

.logged-in-navbar{
    display: flex;
    margin-right: 10px;
}

.logged-out-navbar{
    display: flex;
    margin-right: 10px;
}
