.navbar-container{
    background-color: black;
    height: 10vh;
    position: fixed;
    width: 100vw;
}

.navbar-container-change{
    background-color: rgb(255, 255, 255);
    height: 10vh;
    position: fixed;
    width: 100vw;
    box-shadow: 0 5px 5px -2px rgb(233, 233, 233);
    transition: all 0.5s linear;
    z-index: 100;
}

.navbar-home{
    display: flex;
    align-items: center;
}

.home-li {
    display: flex;
    align-items: center;
}

.navlinks {
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
}

.blood {
    background-image: url(https://wallpapercave.com/wp/wp9614661.jpg);
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 22px;
}

.no-blood{
    font-size: 22px;
}

.navlinks-change {
    text-decoration: none;
    color: #FF385C;
    font-family: 'Raleway', sans-serif;
}

.home-title{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: #FF385C;
    font-size: 25px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    /* margin-left: 25px; */
}

.home-title-change{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
    font-weight: bolder;
    transition: all 0.1s linear;
    /* margin-left: 25px; */
}

.fa-ghost{
    color: #ffffff;
    font-size: 35px;
    text-align: center;
    margin-right: 10px;
}

.ghost-after{
    color: #FF385C;
    font-size: 35px;
    text-align: center;
    margin-right: 10px;
}

.home-li{
    text-decoration: none;
}

.navbar-ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    /* margin: 15px; */
}

.sessionLinks{
    display: flex;
}

.logged-in-navbar{
    display: flex;
    margin-right: 35px;
    align-items: center;
}

.logged-out-navbar{
    display: flex;
    margin-right: 35px;
}

.navbar-host{
    padding-right: 25px;
}

.navbar-browse{
    margin-left: 55px;
}

