html {
  overflow-y: overlay;
}

* {
    font-family: 'Raleway', sans-serif;
}


.feed-main-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:50px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 25px;
    /* position:relative;
    z-index:-1; */
}

.spot-feed-container{
    width: 75%;
    height: 250px;
    margin-top: 50px;
    display: flex;
    border-radius: 10px;
    /* border-top: 1px solid #FF385C; */
    /* padding-top: 45px; */
    /* border: 1px solid black; */
    box-shadow: 0 5px 15px -2px rgb(201, 201, 201);
    transition: transform .5s;

}

.spot-feed-container:hover{
    /* opacity: 0.8; */
    transform: scale(1.05);
    /* z-index: 1; */
}

.feed-image{
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.feed-image:hover {
    cursor: pointer;
}

.spot-name{
    /* background-color: black; */
    font-size: 1.5rem;
    /* margin-left: 30px; */
}

.feed-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-guy{
    margin-top: 30px;
    color: black;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    margin-top: 15px;
    box-shadow: 0 5px 5px -2px rgb(233, 233, 233);
}

.button-guy:hover{
    cursor: pointer;
}

.button-guy:focus{
    color:#FF385C;
}

.buttons-header{
    margin-top: 50px;
}

.buttons-container{
    width: 70vw;
    justify-content: space-evenly;
    display: flex;
}

.host-and-price{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    /* justify-self: flex-end; */
    /* padding: 10px; */
}

.spot-details{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    /* align-items: */
    box-sizing: border-box;
}
