.signup-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:fit-content;
    height: auto;
    justify-content: center;
    background-color: white;
    color: black;
    border-radius: 10px;
    transition: ease-in-out .5s;
    padding: 10%;
}

.signup-email{
    margin: 10px;
}

.signup-password{
    margin-bottom: 10px;
}

.signup-header{
    border-bottom: 1px solid #FF385C;
    margin-bottom:15px;
}

.signup-form-button{
    color: rgb(255, 255, 255);
    width: 150px;
    height: 8%;
    border-radius: 25px;
    background-color: #FF385C;
    border: none;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    margin-top: 15px;
    padding: 5px;
}

.signup-form-button:hover{
    cursor: pointer;
}

.error-list{
    background-color: rgba(255, 0, 0, 0.653);
    margin-bottom: 10px;
    width: 90%;
    border-radius: 15px;
    padding: 5px;
    list-style-type: none;
}

.errors-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}