.section-container{
    /* margin-top: 150px; */
}

.form-container{
    /* margin-top: 50px; */
}

.main-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.newspot-container{
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    align-items: center;
    width: 100%;
    margin-right: 0px;
}

.newspot-form{
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 4%;
}

.post-image-preview{
    height: 25vh;
    width: 25vw;
    object-fit: cover;
}

.new-post-photo-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 35vh;
    width: 80vw;
    margin-bottom: 20px;
}

.content1-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

.new-post-photo-header{
    margin-top: 15px;
}

.new-spot-input{
    margin: 0px;
    width: 20vw;
    border: none;
    box-shadow: 0 5px 15px -2px rgb(201, 201, 201);
    height: 40px;
    padding-left: 20px;
}

.new-spot-header{
    margin-bottom:35px;
    font-size: 25px;
}

.post-spot-form-button{
    color: rgb(255, 255, 255);
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background-color: #FF385C;
    border: none;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    margin-top: 5px;
    margin-bottom:15px;
}

.post-spot-form-button:hover{
    cursor: pointer;
}

.input-field-new{
    margin-top:5px;
}

.price-per-night{
    margin-left: 10px;
    margin-top: 15px;
}

.errors{
    /* border: 1px solid red; */
    /* background-color: rgba(255, 0, 0, 0.372); */
    margin-bottom: 5px;
    border-radius: 15px;
    padding: 5px;
}

.error-list-container{
    display: flex;
    justify-content: center;
}

.MUI-submit{
    background: #FF385C;
}

@media screen and (max-width: 600px){
    .main-form-container{
        padding-top: 9rem;
    }

    .new-spot-input{
        width: 80vw;
    }

    .new-post-photo-container{
        flex-direction: column;
    }
}