*{
    margin: 0px;
}

.single-post-container{
    padding-top: 100px;
    /* width: 80vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-right: 0px; */
}

.images-container{
    display: flex;
    height: 60vh;
    width: 100%;
    justify-content: center;
    margin: 0px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #fff;
    /* border: 1px solid red; */
}

.small-image{
    height:50%;
    width:100%;
    object-fit: cover;
    box-sizing: border-box;
}
#little-image-top{
    padding-bottom: 5px;
    box-sizing: border-box;
    border-top-right-radius: 10px;
}

#little-image-bottom{
    box-sizing: border-box;
    border-bottom-right-radius: 10px;
}

.main-image{
    width: 100%;
    height: auto;
    object-fit: cover;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.main-image-container{
    display: flex;
    /* border: 1px solid blue; */
    width: 60%;
    height: auto;
    padding-right: 5px;
}

.small-images-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: auto;
}

.single-spot-name{
    font-size: 35px;
    align-self: flex-start;
    margin-left: 8%;
}

.spot-location{
    display: flex;
    list-style-type: none;
    padding-left:0px;
    align-self:flex-start;
    /* margin-left: 8%; */
}

.edit-delete{
    display: flex;
}

.spot-edit-delete{
    display: flex;
    width: 85vw;
    justify-content: space-between;
    align-items: center;
}

.single-spot-button{
    color: rgb(126, 126, 126);
    background-color: transparent;
    text-decoration: underline;
    border:none;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

.single-spot-button:hover{
    cursor: pointer;
}